{{page-title "TestEmberAnimatedWithEmbroiderOptimized"}}

<AnimatedContainer>
  {{#animated-if this.fadeMessage use=this.transition}}
    <div class="message">
      Hello
    </div>
  {{/animated-if}}
</AnimatedContainer>

{{outlet}}